<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-label style="margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 20px;">Information</ion-label>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="margin-top: 5px;"  *ngIf="thn_akademik_informasi == thn_akademik_setting ">
    <div class="chats">

      <p data-time="4:20 PM" class="chat-bubble msg-in " >
        <ion-icon name="people-circle-sharp">
        </ion-icon>&nbsp;
        <ion-note>Faculty</ion-note><br><br>
        Apply for a course through its dedicated course page.You can also apply to study our modules individually in many cases.
      </p>

      <p data-time="4:20 PM" class="chat-bubble msg-out">
        <ion-icon name="school" slot="end"></ion-icon>&nbsp;
        <ion-note>University</ion-note><br><br>
          Remember to attach any available documents we need and if applicable pay any application fee.
          <br><br>
          We won't be able to process your application fully until we have received everything we need.   
      </p>
      <p data-time="4:20 PM" class="chat-bubble msg-in" >
        <ion-icon name="people-circle-sharp"></ion-icon>&nbsp;
        <ion-note>Faculty</ion-note>
          <br><br>
          However, you can still apply whilst you gather outstanding documentation. We will then write to you requesting this evidence.  
          
      </p>

      <p data-time="4:20 PM" class="chat-bubble msg-out">
        <ion-icon name="school" slot="end"></ion-icon>&nbsp;
        <ion-note>University</ion-note>
        <br><br>
        To apply for your prior learning to be accredited, please complete the relevant section on the application form.
      </p>

      <p data-time="4:20 PM" class="chat-bubble msg-in" >
        <ion-icon name="people-circle-sharp">
        </ion-icon>&nbsp;
        <ion-note>Faculty</ion-note><br><br>
        We acknowledge your application by email within 24 hours.
      </p>

      <p data-time="4:20 PM" class="chat-bubble msg-out">
        <ion-icon name="school" slot="end"></ion-icon>&nbsp;
        <ion-note>University</ion-note>
        <br><br>
        You have until the registration deadline to accept an offer and pay your initial fees.
        <br><br>
        We send you your study materials as soon as they become available.
      </p>

    </div>
  </div>

  
</ion-content>