* {
  font-family: "Poppins", sans-serif;
}

.imgLondon{
  width: 25%;
  margin-top: 90px;
  margin-left: 35%;
}

ion-content{
  --background: #4697ee;
  border-left: 10px solid #ffde59;

  .header{
    padding: 0 35px;
    color: #fff;
    p{
      font-size: 1.5rem; 
    }
    h3{
      font-size: 1.1rem;
      color: #9d9bef;
      span{
        color: #fff;
      }
    }
  }

  .form{
    padding: 0 12vw;
    margin-top: 70px;
    ion-input{
      --background: #fff;
      --padding-start: 33px;
      height: 55px;
      border-radius: 25px;
      margin-bottom: 22px;
      --placeholder-color: #5d5d5d;
      --color: #000;

    }
  }

  .button{
    width: 50vw;
    background-color: #ffde59;
    margin-top: 100px;
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: flex-end;
      font-family: 'poppins';

      ion-icon{
        margin-left: 30px;
      }
  }

  .footer{
    color: #fff;
    padding: 0 12vw;
    margin-top: 100px;
    text-align: center;

    h3{
      font-size: 1rem;
      font-weight: 400;

      span{
        font-size: 1.2rem;
        color: #ff987b;
        font-weight: 500;
      }
    }
  }
}