<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-label style="margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 20px;">Capture</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >
      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-input disabled  type="text" placeholder="Masukkan Tahun Akademik" [(ngModel)]="thn_akademik_capture"></ion-input>
      </ion-item> <hr>

      <ion-input hidden disabled type="number"  [(ngModel)]="kd_bimbingan"></ion-input>

      <ion-item>
        <ion-label position="floating">Topik</ion-label>
        <ion-input disabled type="text" [(ngModel)]="topik"></ion-input>
      </ion-item> <hr>

      <ion-item>
        <ion-label position="floating">Judul</ion-label>
        <ion-input disabled type="text" [(ngModel)]="judul"></ion-input>
      </ion-item> <hr>

      <ion-item>
        <ion-label position="floating">Dosen Pembimbing</ion-label>
        <ion-input disabled type="text" [(ngModel)]="dospem"></ion-input>
      </ion-item>


    <hr>

    <ion-card *ngIf="thn_akademik_capture == thn_akademik_setting">
      <ion-input type="file" [(ngModel)]="images"
      (change)="loadImageFromDevice($event)"></ion-input> <br>
      <ion-card-header>
        <ion-card-subtitle>Upload Bukti Bimbingan</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

      <ion-card-content *ngIf="thn_akademik_capture == thn_akademik_setting">
        <ion-item>
          <ion-label position="floating">Masukkan Keterangan</ion-label>
          <ion-input type="text" [(ngModel)]="keterangan"></ion-input>
        </ion-item>
        <hr>
        <ion-item *ngIf="thn_akademik_capture == thn_akademik_setting">
          <ion-label position="floating">Masukkan Tanggal Bimbingan</ion-label>
          <ion-input type="date" placeholder="Masukkan Tanggal Bimbingan" [(ngModel)]="dentry"></ion-input>
          
        </ion-item>

      </ion-card-content>

      <ion-button color="success" (click)="uploadData()" expand="block">Submit</ion-button>
</ion-content>