<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/ava.png"/>
    </ion-avatar>
    <ion-label >
      <p style="color: #fff; font-family: 'Poppins', sans-serif; font-size: 13px;">Hallo,</p>
      <h3 >{{nama}}</h3>
    </ion-label>
    <h4 (click)="logout()" slot="end" style="color: #fff;">Logout</h4>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div class="main-header" style="margin-top: -60px;"></div>

  <ion-grid>

    <!-- if data not found -->
    <ion-row *ngIf="!data.length">
      <ion-col size="6">
        <ion-label>
          <ion-skeleton-text animated style="width: 60px; margin-left: 10px;">
            <ion-note color="light" class="ion-margin-start" style="font-size: 15px;">
            </ion-note>
          </ion-skeleton-text>
          <p>
            <ion-skeleton-text animated style="width: 80px; margin-left: 10px;">
              <ion-chip color="light">
                <ion-label class="ion-text-wrap">
                </ion-label>
              </ion-chip>
            </ion-skeleton-text>
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
    <!-- end data found -->

    <!-- if data found -->
    <ion-row *ngIf="data.length">
      <ion-col size="6" *ngFor="let item of data">
        <ion-label>
          <ion-note color="light" class="ion-margin-start" style="font-size: 15px;">
            {{item.prodi}}
          </ion-note>
          <p>
            <ion-chip color="light">
              <ion-label class="ion-text-wrap">
                {{item.npm}}
              </ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
    <!-- end data not found -->

    <!-- if data not found -->
    <ion-row class="ion-margin-horizontal" *ngIf="!data.length">
      <ion-col  size="5" style="margin-top: 45px; margin-left: 108px;">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail [style.background]="item?.background" style="width: 100px; height: 100px; ">
                <ion-skeleton-text></ion-skeleton-text>
              </ion-thumbnail>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- end data not found  -->

    <!-- if data found -->
    <ion-row class="ion-margin-horizontal" *ngIf="data.length">
      <ion-col  *ngFor="let item of features" size="5" style="margin-top: 45px; margin-left: 108px;">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail  style="width: 100px; height: 100px; ">
                  <ngx-qrcode [value]="createCode"></ngx-qrcode>  
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">{{ item?.name }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-list *ngIf="!data.length">
      <div class="default-top-padding title">
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </div>
    
      <div class="live-event">
    
        <div class="info">
          <div class="content">
            <ion-skeleton-text animated  style="border:0; height:200px; width:300px;"></ion-skeleton-text>
          </div>
        </div>
      </div>
     
    </ion-list>

    <ion-list *ngIf="data.length">
    
      <div class="default-top-padding title">
        <h2>Letak Kampus</h2>
      </div>
    
      <div class="live-event">
    
        <div class="info">
          <div class="content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.4316380364016!2d106.78774781418628!3d-6.593152266283562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c5b447cc4d03%3A0x66f69b3852e13819!2sUNIVERSITAS%20BINANIAGA%20BOGOR!5e0!3m2!1sid!2sid!4v1666965425175!5m2!1sid!2sid" height="200" width="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </ion-list>
    



  </ion-grid>
  
</ion-content>  
