<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-label style="margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 20px;">List Histories</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
    <div class="content_div">
      <ion-grid>
        <ion-row class="">
          <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)" class="icon-detail"></ion-icon>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="" src="https://cdn-icons-png.flaticon.com/512/4140/4140037.png" />
                </ion-thumbnail>
                <ion-label>
                  <h2>Adistira Dyiputra <span style="float: right"> 
                  </span></h2>
                  <p id="rate">Teknik Informatika</p>
                  <p class="npm">15200001</p>
                </ion-label>
              </ion-item>
            </ion-list>

          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)" class="icon-detail"></ion-icon>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="" src="https://cdn-icons-png.flaticon.com/512/4140/4140061.png" />
                </ion-thumbnail>
                <ion-label>
                  <h2>Idham Irama Permana<span style="float: right"> 
                  </span></h2>
                  <p id="rate">Teknik Informatika</p>
                  <p class="npm">15200007</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)" class="icon-detail"></ion-icon>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="" src="https://cdn-icons-png.flaticon.com/512/4140/4140052.png" />
                </ion-thumbnail>
                <ion-label>
                  <h2>Harya Nugroho<span style="float: right"> 
                  </span></h2>
                  <p id="rate">Teknik Informatika</p>
                  <p class="npm">15200006</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>