<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-label style="margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 20px;">List Histories</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" >
    <div class="content_div" *ngFor="let hasil of arrayData">

      <ion-grid>
        <ion-row>
          <ion-col size="12">
          <ion-card>
            <ion-item>
              <ion-thumbnail slot="start" >
                <img src="https://cdn-icons-png.flaticon.com/512/4140/4140037.png" alt="">
              </ion-thumbnail>
              <ion-label>
                <h2>{{hasil.keterangan}} <span style="float: right">
                <ion-icon name="ellipsis-vertical-outline" (click)="get(hasil.kd_capture)" class="icon-detail"></ion-icon></span></h2>
                <p id="rate" >{{hasil.dentry}}</p>
                  <p class="npm">Kode Bimbingan : "  {{hasil.kd_bimbingan}}  "</p>
              </ion-label>
            </ion-item>
          </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
