<ion-header class="ion-no-border">
<ion-toolbar>
  <ion-label style="margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 20px;">Detail Histories</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="light">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<ion-card>
  <img style="margin-right: 150px;"  src="https://apikonseling.adistiradyiputra.my.id/bukti/{{images}}" />
  <ion-card-header>
    <ion-card-subtitle>Bukti Bimbingan</ion-card-subtitle>
  </ion-card-header>
</ion-card>

  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">Keterangan</ion-label>
      <ion-input type="text" disabled>{{keterangan}}</ion-input>
    </ion-item>
<hr>
    <ion-item>
      <ion-label position="stacked">Tanggal Bimbingan</ion-label>
      <ion-input type="text" disabled >{{dentry}}</ion-input>
    </ion-item>

  </ion-card-content>
</ion-content>